#toolbar-wrapper {
  height: 64px;
}

#logo-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  img {
    text-align: right;
    padding-left: 16px;
  }
  span {
    margin: 0 12px;
    color: #5fcf80;
    font-size: 24px;
    font-weight: 900;
    // cursor: pointer;
  }
}

#right-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    margin-left: 16px;
    color: white;
  }
}

#middle-container {
  text-align: center;
  width: 400px;
}


#toolbar {
  position: fixed;
  background: rgb(87, 99, 102);
  z-index: 999999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
}

// :host /deep/ .mat-input-wrapper {
//   margin: 12px 0 !important;
// }


#menu-button {
  cursor: pointer;
  color: white;
}

#menu {
  z-index: 3;
}


// #middle-container:before {
//   content: "";
//   display: inline-block;
//   vertical-align: middle;
//   height: 100%;
// }