#user-menu-wrapper {
  width: 100%;
  height: calc(100% - 64px);
  position: absolute;
  z-index: 10;
  background: rgb(87, 99, 102);
}

button.menu-button {
  width: 100%;
  text-align: left;
  color: white;
}

img {
  width: 64px;
  height: 64px;
  display: block;
  margin: 32px auto;
}

#search-wrapper {
  padding-left: 16px;
  padding-right: 16px;
  md-input-container {
    width: 170px;
    display: inline-block;
    color: white;
  }
  button {
    display: inline-block;
    color: white;
  }
}
