.white {
  background: rgba(white, 1);
  color: black;
}

.white-low-alpha {
  background: rgba(white, 0.8);
  color: gray;
}

.search-container {
  width: 100%;
  border-radius: 2px;
  i {
    margin: 0 12px;
  }
  input {
    padding-left: 40px;
  }
}