<app-toolbar (searchEvent)="search($event)"></app-toolbar> 
<!--<md-sidenav-container>
  <md-sidenav #sidenav>
    <app-user-menu id="menu" (toggled)="onSideNavToggled($event)"#menu></app-user-menu>
  </md-sidenav>-->
  <router-outlet style="position:absolute;top:64px;"></router-outlet>
<!--</md-sidenav-container>-->

<!--<div id="toolbar-wrapper" style="height:64px;">
  <md-toolbar fxLayout="row" id="toolbar" style="height:64px;">
    <div fxFlex fxLayout="row" id="logo-container" [routerLink]="['/']">
      <img fxFlex src="../assets/img/arm.svg" style="width:32px;height:32px;">
      <p  fxFlex fxShow="false" fxShow.gt-xs>broutine</p>
    </div>
    <div fxFlex id="middle-container">
      <button color="accent" md-raised-button [routerLink]="['/build']">
        <md-icon>add</md-icon>Create Your Own Routine
      </button>
      <md-input-container dividerColor="accent" [ngClass]="{'white': isFocussed, 'white-low-alpha': !isFocussed}" floatPlaceholder="never">
        <md-placeholder>
          <md-icon color="accent">search</md-icon>
        </md-placeholder>
        <input mdInput (focus)="onFocusSearch()" (blur)="onBlurSearch()" (keyup.enter)="search($event)" [(ngModel)]="searchKey">
      </md-input-container>
    </div>
    <div fxFlex id="right-container">
      <button md-button>
        Login
      </button>
    </div>
  </md-toolbar>
</div>-->
